body {
  font-family: "Roboto", sans-serif; }

@media (min-width: 1200px) {
  .container {
    max-width: 1180px; } }
section.wp {
  padding: 90px 0; }
section.wbg {
  background-color: #f6f8f9; }
section .section-heading span {
  display: block;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px; }
section .section-heading h3 {
  position: relative;
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 33px;
  font-weight: 500;
  text-align: center; }
  section .section-heading h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #0b60a9; }
  section .section-heading h3::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #0b60a9; }
  section .section-heading h3.without-ba::before, section .section-heading h3.without-ba::after {
    display: none; }
  @media only screen and (max-width: 767px) {
    section .section-heading h3 {
      font-size: 26px; } }
section .section-heading p {
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 16px;
  text-align: center;
  color: #888; }

.white-btn, .black-btn, .colored-btn {
  display: block;
  width: 130px;
  height: 45px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .white-btn:hover, .black-btn:hover, .colored-btn:hover {
    text-decoration: none; }

@media (max-width: 991px) {
  .white-btn, .black-btn, .colored-btn {
    width: 100px;
    height: 35px;
    padding: 5px 10px; } }
.white-btn {
  background-color: #0b60a9;
  color: white; }
  .white-btn:hover {
    background-color: white;
    color: black; }

.black-btn {
  background-color: #0b60a9;
  color: white; }
  .black-btn:hover {
    background-color: black;
    color: white; }

.colored-btn {
  background-color: white;
  color: black; }
  .colored-btn:hover {
    background-color: #0b60a9;
    color: white; }

#btn-scrollup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 111; }
  #btn-scrollup a {
    width: 40px;
    height: 40px;
    padding: 10px; }
    #btn-scrollup a i {
      font-size: 18px;
      color: white; }

.social-links ul li {
  padding-right: 15px; }
  @media screen and (max-width: 575px) {
    .social-links ul li {
      padding-right: 10px; } }
  .social-links ul li a {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .social-links ul li a::before {
      font-family: "Font Awesome 5 Brands";
      font-weight: 400;
      line-height: 40px;
      font-size: 15px; }
    .social-links ul li a[href*="facebook.com"]::before {
      content: "\f39e"; }
    .social-links ul li a[href*="youtube.com"]::before {
      content: "\f167"; }
    .social-links ul li a[href*="twitter.com"]::before {
      content: "\f099"; }
    .social-links ul li a[href*="linkedin.com"]::before {
      content: "\f0e1"; }
    .social-links ul li a[href*="instagram.com"]::before {
      content: "\f16d"; }
    .social-links ul li a[href*="vimeo.com"]::before {
      content: "\f194"; }
    .social-links ul li a[href*="dribbble.com"]::before {
      content: "\f17d"; }
    .social-links ul li a:hover {
      text-decoration: none; }
    .social-links ul li a[href*="facebook.com"]:hover {
      background-color: #3b5998; }
    .social-links ul li a[href*="youtube.com"]:hover {
      background-color: #bb0000; }
    .social-links ul li a[href*="twitter.com"]:hover {
      background-color: #00aced; }
    .social-links ul li a[href*="linkedin.com"]:hover {
      background-color: #007bb6; }
    .social-links ul li a[href*="instagram.com"]:hover {
      background-color: #517fa4; }
    .social-links ul li a[href*="vimeo.com"]:hover {
      background-color: #aad450; }
    .social-links ul li a[href*="dribbble.com"]:hover {
      background-color: #ea4c89; }

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

@-webkit-keyframes popup {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes popup {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
img.mfp-img {
  -webkit-animation: popup 1s;
          animation: popup 1s; }

#mobile-header {
  background-color: #222; }
  #mobile-header #sidr-button {
    display: block;
    padding: 10px; }
    #mobile-header #sidr-button i {
      color: white; }
    #mobile-header #sidr-button.opened {
      padding-left: 270px; }

#sidr .nav-menu-item {
  position: relative; }
  #sidr .nav-menu-item .drop-menu {
    display: none; }
  #sidr .nav-menu-item i {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    background-color: #343434;
    -webkit-box-shadow: 0 0 37px #464444 inset;
            box-shadow: 0 0 37px #464444 inset;
    cursor: pointer; }
    #sidr .nav-menu-item i::before {
      line-height: 50px; }

#page {
  position: relative;
  background-image: url("../img/custom-header/custom-header.jpg");
  background-size: cover;
  background-position: top;
  height: 300px; }
  #page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5; }
  #page h2 {
    padding-top: 100px;
    font-size: 45px; }
  #page a,
  #page span {
    font-size: 16px; }
  #page a {
    margin-right: 10px;
    color: #ddd;
    border-bottom: 1px solid white; }
    #page a:hover {
      text-decoration: none;
      color: white; }
  #page span::before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    font-weight: 900;
    margin-right: 10px; }

#info .logo a:hover img {
  opacity: 0.8; }
#info .info {
  font-size: 14px; }
  #info .info li {
    padding: 8px 0;
    color: #888; }
    #info .info li strong {
      color: black; }
    #info .info li i {
      width: 70px;
      padding-right: 16px;
      font-size: 36px;
      line-height: 45px;
      color: #0b60a9;
      text-align: center; }
    #info .info li .email a {
      color: #888; }
  #info .info li:not(:last-child) {
    padding-right: 25px; }

#menu {
  background-color: #0b60a9; }
  #menu nav {
    width: 60%; }
  #menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  #menu .nav-menu {
    padding: 8px 0; }
    #menu .nav-menu .nav-menu-item {
      display: inline-block;
      position: relative;
      padding: 16px 0;
      margin-right: 36px;
      cursor: pointer; }
      #menu .nav-menu .nav-menu-item > a {
        position: relative;
        text-transform: uppercase; }
        #menu .nav-menu .nav-menu-item > a::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -27px;
          width: 100%;
          height: 5px;
          background-color: white;
          -webkit-transition: all 0.33s ease-out;
          transition: all 0.33s ease-out;
          opacity: 0; }
      #menu .nav-menu .nav-menu-item:hover a::after {
        opacity: 1; }
      #menu .nav-menu .nav-menu-item > a {
        font-size: 14px;
        font-weight: bold;
        color: white;
        text-decoration: none; }
      #menu .nav-menu .nav-menu-item.drop-head::after {
        content: "\f107";
        font-family: "Font Awesome 5 Free";
        color: white;
        margin-left: 10px;
        margin-right: 0;
        position: absolute;
        right: -16px;
        top: 20px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        font-size: 12px;
        font-weight: 900; }
      #menu .nav-menu .nav-menu-item.drop-head:hover [class*="drop-menu"] {
        top: 75px;
        visibility: visible;
        opacity: 1; }
      #menu .nav-menu .nav-menu-item.drop-head:hover .sub-drop-menu {
        top: 0; }
      #menu .nav-menu .nav-menu-item [class*="drop-menu"] {
        position: absolute;
        top: 88px;
        left: 0;
        width: 200px;
        padding: 10px 20px;
        background-color: white;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        visibility: hidden;
        opacity: 0; }
        #menu .nav-menu .nav-menu-item [class*="drop-menu"] .drop-item {
          padding: 8px;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
          #menu .nav-menu .nav-menu-item [class*="drop-menu"] .drop-item:not(:last-child) {
            border-bottom: 1px solid #eeeeee; }
          #menu .nav-menu .nav-menu-item [class*="drop-menu"] .drop-item a {
            font-size: 14px;
            font-weight: 500;
            color: #888;
            text-decoration: none; }
          #menu .nav-menu .nav-menu-item [class*="drop-menu"] .drop-item::before {
            content: "\f105";
            font-family: "Font Awesome 5 Free";
            color: #0b60a9;
            position: absolute;
            opacity: 0;
            -webkit-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s;
            font-weight: 900;
            left: 14px; }
          #menu .nav-menu .nav-menu-item [class*="drop-menu"] .drop-item:hover {
            padding-left: 12px; }
            #menu .nav-menu .nav-menu-item [class*="drop-menu"] .drop-item:hover a {
              color: #0b60a9; }
            #menu .nav-menu .nav-menu-item [class*="drop-menu"] .drop-item:hover::before {
              left: 20px;
              opacity: 1; }
      #menu .nav-menu .nav-menu-item.drop-head > [class*="drop-menu"] {
        -webkit-box-shadow: 0 0px 20px rgba(166, 166, 166, 0.25);
                box-shadow: 0 0px 20px rgba(166, 166, 166, 0.25); }
      #menu .nav-menu .nav-menu-item .big-drop-menu {
        left: -154px;
        width: 1140px;
        padding: 20px; }
        #menu .nav-menu .nav-menu-item .big-drop-menu .sub-drop-menu {
          position: relative;
          width: 25%;
          top: 0;
          padding: 0 20px; }
          #menu .nav-menu .nav-menu-item .big-drop-menu .sub-drop-menu:not(:last-child) {
            border-right: 1px solid #eeeeee; }
  #menu .social-search .social-links ul {
    padding: 8px 0; }
    #menu .social-search .social-links ul li a::before {
      color: white; }
  #menu .social-search .search {
    position: relative; }
    #menu .social-search .search a {
      font-size: 14px;
      color: white; }
    #menu .social-search .search .search-form {
      position: absolute;
      width: 500px;
      top: 48px;
      right: 0px;
      padding: 25px 30px;
      background-color: white;
      display: none;
      overflow: hidden; }
      #menu .social-search .search .search-form .form-group {
        margin: 0; }
        #menu .social-search .search .search-form .form-group form .form-control {
          width: 340px;
          height: 45px;
          border: 5px solid #888;
          border-radius: 0; }
        #menu .social-search .search .search-form .form-group form .black-btn {
          width: 100px;
          height: 45px; }

@media (max-width: 1199px) {
  .social-search {
    width: 100%; } }
@media (max-width: 575px) {
  .social-search {
    padding: 0 15px; }
    .social-search .search-form {
      width: auto !important; }
      .social-search .search-form .form-control {
        width: auto !important; }
      .social-search .search-form .black-btn {
        width: auto !important;
        height: 30px !important;
        padding: 5px 86px;
        line-height: 20px; } }
@-webkit-keyframes toLeft {
  from {
    margin-left: 50px; }
  to {
    margin-left: 0;
    opacity: 1; } }
@keyframes toLeft {
  from {
    margin-left: 50px; }
  to {
    margin-left: 0;
    opacity: 1; } }
@-webkit-keyframes toRight {
  from {
    margin-right: 50px; }
  to {
    margin-right: 0;
    opacity: 1; } }
@keyframes toRight {
  from {
    margin-right: 50px; }
  to {
    margin-right: 0;
    opacity: 1; } }
@-webkit-keyframes visibled {
  to {
    opacity: 1; } }
@keyframes visibled {
  to {
    opacity: 1; } }
#slider .carousel-indicators {
  height: 30px; }
  #slider .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: white;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    #slider .carousel-indicators li.active {
      height: 30px;
      background-color: #0b60a9; }
#slider .carousel-inner .carousel-item {
  background-color: black;
  -webkit-transition-duration: 2s;
          transition-duration: 2s; }
  #slider .carousel-inner .carousel-item img {
    opacity: 0.5; }
  #slider .carousel-inner .carousel-item .carousel-caption {
    top: 20%;
    right: 15%;
    left: 15%;
    padding-top: 20px;
    padding-bottom: 20px; }
    #slider .carousel-inner .carousel-item .carousel-caption h5 {
      -webkit-animation-delay: 2s !important;
              animation-delay: 2s !important;
      opacity: 0; }
      #slider .carousel-inner .carousel-item .carousel-caption h5 a {
        font-family: "Poppins", sans-serif;
        font-size: 60px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
    #slider .carousel-inner .carousel-item .carousel-caption p {
      font-size: 19px;
      color: #d5d5d5;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-animation-delay: 2.5s !important;
              animation-delay: 2.5s !important;
      opacity: 0; }
    #slider .carousel-inner .carousel-item .carousel-caption .toLeft {
      -webkit-animation: toLeft 1s ease forwards;
              animation: toLeft 1s ease forwards; }
    #slider .carousel-inner .carousel-item .carousel-caption .toRight {
      -webkit-animation: toRight 1s ease forwards;
              animation: toRight 1s ease forwards; }
    #slider .carousel-inner .carousel-item .carousel-caption .visibled {
      -webkit-animation: visibled 0.5s ease forwards;
              animation: visibled 0.5s ease forwards; }
    #slider .carousel-inner .carousel-item .carousel-caption .buttons {
      opacity: 0;
      -webkit-animation: visibled 0.5s ease 3s forwards;
              animation: visibled 0.5s ease 3s forwards; }
      #slider .carousel-inner .carousel-item .carousel-caption .buttons a {
        display: inline-block;
        width: 150px;
        text-transform: uppercase; }
        #slider .carousel-inner .carousel-item .carousel-caption .buttons a:first-child {
          margin-right: 16px; }
#slider a[class*="carousel-control"] {
  top: 40%;
  width: 45px;
  height: 45px;
  padding: 10px;
  opacity: 0;
  background-color: rgba(14, 14, 14, 0.26);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  #slider a[class*="carousel-control"] span[class*="carousel-control"] {
    width: 15px;
    height: 15px; }
  #slider a[class*="carousel-control"]:hover {
    background-color: #0b60a9; }
#slider .carousel-control-prev {
  left: 20px; }
#slider .carousel-control-next {
  right: 20px; }
#slider:hover [class*="carousel-control"] {
  top: 44%;
  opacity: 1; }

@media screen and (max-width: 1139px) {
  #slider .carousel-caption h5 a {
    font-size: 32px !important; }
  #slider .carousel-caption p {
    font-size: 15px !important; } }
@media screen and (max-width: 767px) {
  #slider .carousel-caption {
    top: 10% !important;
    right: 10% !important;
    left: 10% !important; }
    #slider .carousel-caption p {
      display: none; } }
@media screen and (max-width: 575px) {
  #slider .carousel-caption .buttons {
    display: none; } }
#features .feature-item {
  margin: 20px 10px;
  padding: 30px 30px 40px;
  -webkit-box-shadow: 0px 0px 32px 0px rgba(122, 122, 122, 0.1);
          box-shadow: 0px 0px 32px 0px rgba(122, 122, 122, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  #features .feature-item a {
    color: black; }
    #features .feature-item a h5 {
      font-size: 22.4px;
      font-weight: bold;
      margin: 16px 0; }
    #features .feature-item a span {
      font-size: 14px;
      font-weight: bold;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      #features .feature-item a span::after {
        content: "\f30b";
        font-family: "Font Awesome 5 Free";
        padding-left: 6px;
        font-size: 12px;
        font-weight: 900; }
      #features .feature-item a span:hover {
        padding-left: 10px; }
        #features .feature-item a span:hover::after {
          content: "\f00c"; }
    #features .feature-item a:hover {
      color: #0b60a9;
      text-decoration: none; }
  #features .feature-item .icon {
    position: relative;
    display: block;
    width: 95px;
    height: 95px;
    margin: 10px 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 100%;
    color: #0b60a9;
    background-color: #0b60a90f; }
    #features .feature-item .icon i {
      font-size: 38px;
      line-height: 95px; }
    #features .feature-item .icon::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      border: 4px solid #0b60a90f;
      border-radius: 100%;
      opacity: 0;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    #features .feature-item .icon:hover::before {
      opacity: 1;
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  #features .feature-item p {
    font-size: 16px;
    line-height: 28px;
    color: #888; }
  #features .feature-item:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
            box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15); }

#template {
  background-image: url("../img/cta/cta-background.jpg");
  background-size: cover;
  position: relative; }
  #template::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5; }
  #template h3,
  #template p {
    color: white; }

#whoweare img {
  width: 100%; }
#whoweare strong {
  line-height: 25px;
  font-size: 18px; }
#whoweare p {
  line-height: 25px;
  color: #888; }
#whoweare ul {
  list-style: none; }
  #whoweare ul li {
    padding-bottom: 10px;
    font-size: 14px;
    color: #888; }
    #whoweare ul li::before {
      content: "\f00c";
      font-family: "Font Awesome 5 Free";
      padding-right: 20px;
      font-size: 14px;
      color: #0b60a9;
      font-weight: 900; }

#services {
  background-image: url("../img/service/features-background.jpg");
  background-position: right;
  background-size: cover; }
  #services .service-item {
    margin: 20px 0; }
    #services .service-item .icon {
      margin-top: 20px;
      position: relative;
      display: block;
      width: 95px;
      height: 95px;
      border-radius: 100%;
      text-align: center;
      color: #0b60a9;
      background-color: white; }
      #services .service-item .icon i {
        font-size: 38px;
        line-height: 95px; }
      #services .service-item .icon::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        border: 4px solid white;
        border-radius: 100%;
        opacity: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      #services .service-item .icon:hover::before {
        opacity: 1;
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }
    #services .service-item .service-text {
      width: 70%;
      padding-left: 25px; }
      #services .service-item .service-text a {
        color: black; }
        #services .service-item .service-text a h5 {
          font-size: 22.4px;
          font-weight: bold;
          margin: 16px 0; }
        #services .service-item .service-text a:hover {
          color: #0b60a9;
          text-decoration: none; }
      #services .service-item .service-text p {
        font-size: 16px;
        line-height: 28px;
        color: #888; }

#news .new-item {
  margin: 20px 10px;
  -webkit-box-shadow: 0px 0px 32px 0px rgba(122, 122, 122, 0.1);
          box-shadow: 0px 0px 32px 0px rgba(122, 122, 122, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  #news .new-item .image {
    width: 100%;
    overflow: hidden; }
    #news .new-item .image img {
      width: 100%;
      -webkit-transition: all 1s;
      transition: all 1s; }
      #news .new-item .image img:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
  #news .new-item .content {
    padding: 30px 30px 40px; }
    #news .new-item .content h5 a {
      font-size: 22.4px;
      font-weight: bold;
      margin: 16px 0; }
    #news .new-item .content a {
      color: black; }
      #news .new-item .content a span {
        font-size: 14px;
        font-weight: bold;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        #news .new-item .content a span::after {
          content: "\f30b";
          font-family: "Font Awesome 5 Free";
          padding-left: 6px;
          font-size: 12px;
          font-weight: 900; }
        #news .new-item .content a span:hover {
          padding-left: 10px; }
          #news .new-item .content a span:hover::after {
            content: "\f00c"; }
      #news .new-item .content a:hover {
        color: #0b60a9;
        text-decoration: none; }
    #news .new-item .content > span {
      display: inline-block;
      margin: 0 10px 20px 0;
      font-size: 14px;
      color: #888; }
      #news .new-item .content > span::before {
        content: "\f07c";
        font-family: "Font Awesome 5 Free";
        font-size: 13px;
        height: 15px;
        margin-right: 8px; }
      #news .new-item .content > span.date::before {
        content: "\f274"; }
    #news .new-item .content p {
      font-size: 16px;
      line-height: 28px;
      color: #888; }
  #news .new-item:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
            box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15); }

#buy-now .row {
  padding: 40px;
  background-color: #25292f; }
  #buy-now .row h3 {
    line-height: 45px;
    padding: 0; }

@media (max-width: 767px) {
  #buy-now h3 {
    padding-bottom: 20px !important; } }
#our-team .team-item {
  margin: 20px 10px;
  -webkit-box-shadow: 0px 0px 32px 0px rgba(122, 122, 122, 0.1);
          box-shadow: 0px 0px 32px 0px rgba(122, 122, 122, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  #our-team .team-item .image {
    width: 100%;
    overflow: hidden; }
    #our-team .team-item .image img {
      width: 100%;
      -webkit-transition: all 1s;
      transition: all 1s; }
      #our-team .team-item .image img:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
  #our-team .team-item .content a {
    color: black; }
    #our-team .team-item .content a h5 {
      font-size: 20px;
      font-weight: bold;
      margin: 16px 0 0; }
    #our-team .team-item .content a:hover {
      color: #0b60a9;
      text-decoration: none; }
  #our-team .team-item .content p {
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    color: #0b60a9;
    margin: 0; }
  #our-team .team-item .social-links ul {
    padding: 8px 0 16px;
    list-style: none; }
    #our-team .team-item .social-links ul li {
      padding: 0 6px; }
      #our-team .team-item .social-links ul li a {
        border-radius: 100%; }
        #our-team .team-item .social-links ul li a::before {
          color: #888; }
        #our-team .team-item .social-links ul li a:hover::before {
          color: white; }
  #our-team .team-item:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
            box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15); }

#carousel {
  background-color: #25292f; }
  #carousel .section-heading h3,
  #carousel .section-heading p {
    color: white; }
  #carousel #carousel-1 {
    position: relative; }
    #carousel #carousel-1 .rating {
      padding: 30px 30px 40px;
      background-color: white; }
      #carousel #carousel-1 .rating .image {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        overflow: hidden;
        margin: 0 auto 20px; }
      #carousel #carousel-1 .rating .content .rate ul {
        padding: 0;
        list-style: none; }
        #carousel #carousel-1 .rating .content .rate ul li {
          padding: 0 2px; }
          #carousel #carousel-1 .rating .content .rate ul li i {
            color: #ffa500; }
      #carousel #carousel-1 .rating .content a {
        color: black; }
        #carousel #carousel-1 .rating .content a h5 {
          font-size: 22.4px;
          font-weight: bold;
          margin: 16px 0; }
        #carousel #carousel-1 .rating .content a:hover {
          color: #0b60a9;
          text-decoration: none; }
      #carousel #carousel-1 .rating .content p {
        padding: 0 20px;
        font-size: 16px;
        line-height: 28px;
        font-style: italic;
        color: #888; }
      #carousel #carousel-1 .rating .content span {
        font-size: 14px;
        color: #888; }
    #carousel #carousel-1 .owl-nav {
      position: absolute;
      top: -60px;
      right: 0; }
      #carousel #carousel-1 .owl-nav button {
        margin-left: 16px;
        width: 36px;
        height: 36px;
        background-color: white; }
        #carousel #carousel-1 .owl-nav button span {
          font-size: 25px;
          font-weight: bold;
          line-height: 25px; }
        #carousel #carousel-1 .owl-nav button:hover {
          color: white;
          background-color: #0b60a9; }

#upcomings .upcoming-head {
  margin-top: 30px;
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 2px solid #f7f7f7; }
  #upcomings .upcoming-head::before {
    font-family: "Font Awesome 5 Free";
    margin-right: 15px; }
#upcomings .upcoming-events .upcoming-head::before {
  content: "\f073"; }
#upcomings .upcoming-events ul {
  list-style: none;
  padding: 0;
  margin-top: 30px; }
  #upcomings .upcoming-events ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 30px; }
    #upcomings .upcoming-events ul li .day {
      width: 100px;
      -webkit-box-shadow: 0 5px 8px #fbfbfb;
              box-shadow: 0 5px 8px #fbfbfb;
      text-align: center; }
      #upcomings .upcoming-events ul li .day p {
        background-color: #f3f1f1;
        font-style: italic;
        margin-bottom: 8px; }
      #upcomings .upcoming-events ul li .day h2 {
        font-size: 45px;
        color: #888; }
    #upcomings .upcoming-events ul li .day-new {
      padding-left: 20px; }
      #upcomings .upcoming-events ul li .day-new h6 a {
        color: black;
        font-size: 20px;
        font-weight: bold; }
        #upcomings .upcoming-events ul li .day-new h6 a:hover {
          color: #0b60a9;
          text-decoration: none; }
      #upcomings .upcoming-events ul li .day-new p {
        color: #888; }
#upcomings .upcoming-news .upcoming-head::before {
  content: "\f1ea"; }
#upcomings .upcoming-news #carousel-2 {
  position: relative; }
  #upcomings .upcoming-news #carousel-2 .upcoming-item {
    margin: 20px 10px;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(122, 122, 122, 0.1);
            box-shadow: 0px 0px 32px 0px rgba(122, 122, 122, 0.1);
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    #upcomings .upcoming-news #carousel-2 .upcoming-item .image {
      width: 100%;
      overflow: hidden; }
      #upcomings .upcoming-news #carousel-2 .upcoming-item .image img {
        width: 100%;
        -webkit-transition: all 1s;
        transition: all 1s; }
        #upcomings .upcoming-news #carousel-2 .upcoming-item .image img:hover {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1); }
    #upcomings .upcoming-news #carousel-2 .upcoming-item .content {
      padding: 30px 30px 40px; }
      #upcomings .upcoming-news #carousel-2 .upcoming-item .content h5 a {
        color: black;
        font-size: 22.4px;
        font-weight: bold;
        margin: 16px 0; }
        #upcomings .upcoming-news #carousel-2 .upcoming-item .content h5 a:hover {
          color: #0b60a9;
          text-decoration: none; }
      #upcomings .upcoming-news #carousel-2 .upcoming-item .content span {
        display: inline-block;
        margin: 0 10px 20px 0;
        font-size: 14px;
        color: #888; }
        #upcomings .upcoming-news #carousel-2 .upcoming-item .content span::before {
          content: "\f07c";
          font-family: "Font Awesome 5 Free";
          font-size: 13px;
          height: 15px;
          margin-right: 8px; }
        #upcomings .upcoming-news #carousel-2 .upcoming-item .content span.date::before {
          content: "\f274"; }
      #upcomings .upcoming-news #carousel-2 .upcoming-item .content p {
        font-size: 16px;
        line-height: 28px;
        color: #888; }
    #upcomings .upcoming-news #carousel-2 .upcoming-item:hover {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      -webkit-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
              box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15); }
  #upcomings .upcoming-news #carousel-2 .owl-nav {
    position: absolute;
    top: -70px;
    right: 0; }
    #upcomings .upcoming-news #carousel-2 .owl-nav button {
      margin-left: 16px;
      width: 36px;
      height: 36px;
      background: #f5f5f5; }
      #upcomings .upcoming-news #carousel-2 .owl-nav button span {
        font-size: 25px;
        font-weight: bold;
        line-height: 25px; }
      #upcomings .upcoming-news #carousel-2 .owl-nav button:hover {
        color: white;
        background-color: #0b60a9; }

#counter {
  background-color: #1f1f1fc7; }
  #counter .section-heading h3 {
    text-align: left;
    line-height: 50px; }
    #counter .section-heading h3::before {
      left: 0;
      -webkit-transform: none;
              transform: none; }
    #counter .section-heading h3::after {
      display: none; }
  #counter .section-heading p {
    margin: 20px 0;
    text-align: left;
    line-height: 30px;
    color: white; }
  #counter .counter-item {
    padding: 20px 25px; }
    #counter .counter-item i {
      font-size: 36px;
      line-height: 54px;
      color: #0b60a9; }
    #counter .counter-item .count {
      padding-left: 20px;
      font-size: 36px; }
    #counter .counter-item h4 {
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      text-align: center; }

#why img {
  width: 100%; }
#why h3 {
  text-align: left; }
#why p {
  line-height: 25px;
  color: #888; }
#why .progress-section .progress-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #why .progress-section .progress-info span {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px; }
#why .progress-section .progress {
  margin-bottom: 30px;
  height: 5px;
  overflow: visible;
  background-color: #f5f5f5; }
  #why .progress-section .progress .progress-bar {
    height: 10px;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-transition: all 1s;
    transition: all 1s; }
    #why .progress-section .progress .progress-bar.management {
      background-color: #67bbf7; }
    #why .progress-section .progress .progress-bar.wordpress {
      background-color: #7e87c9; }
    #why .progress-section .progress .progress-bar.photoshop {
      background-color: #c9048e; }
    #why .progress-section .progress .progress-bar.javascript {
      background-color: #dd9933; }

#contact .contact-form {
  padding: 40px;
  background-color: white;
  -webkit-box-shadow: 0 0 20px #efeded;
          box-shadow: 0 0 20px #efeded; }
  #contact .contact-form h3 {
    font-size: 22px;
    font-weight: bold; }
  #contact .contact-form p {
    font-size: 16px;
    color: #888; }
  #contact .contact-form #message {
    display: none; }
    #contact .contact-form #message .success {
      text-align: center;
      padding: 20px;
      border: 5px solid #4def4d; }
      #contact .contact-form #message .success h2 {
        padding-bottom: 10px;
        font-size: 33px;
        font-weight: bold; }
      #contact .contact-form #message .success p {
        font-size: 16px;
        color: #888; }
    #contact .contact-form #message span {
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
      color: red; }
  #contact .contact-form form .form-group .form-control {
    padding: 10px 20px;
    margin-bottom: 30px;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    color: black; }
  #contact .contact-form form .form-group input {
    height: 48px; }
  #contact .contact-form button {
    border: none;
    width: 180px; }
#contact .quick-contact {
  padding: 40px;
  background-color: white;
  -webkit-box-shadow: 0 0 20px #efeded;
          box-shadow: 0 0 20px #efeded; }
  #contact .quick-contact h3 {
    font-size: 22px;
    font-weight: bold; }
  #contact .quick-contact ul {
    list-style: none; }
    #contact .quick-contact ul li {
      margin-bottom: 10px;
      color: #888; }
      #contact .quick-contact ul li i {
        width: 40px;
        height: 40px;
        border: 1px solid #efeded;
        border-radius: 100%;
        font-size: 14px;
        line-height: 40px;
        text-align: center;
        margin-right: 15px;
        color: black; }
#contact .map {
  margin-top: 30px;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 0 0 20px #efeded;
          box-shadow: 0 0 20px #efeded; }
  #contact .map iframe {
    width: 100%;
    height: 278px;
    border: none; }

#our-works #filter ul {
  padding: 10px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #our-works #filter ul li {
    position: relative;
    display: inline;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer; }
    #our-works #filter ul li:not(:last-child) {
      margin-right: 10px; }
    #our-works #filter ul li.active {
      color: #0b60a9; }
      #our-works #filter ul li.active::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        bottom: 0;
        background-color: #0b60a9; }
    #our-works #filter ul li:hover {
      color: #0b60a9; }
      #our-works #filter ul li:hover::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        bottom: 0;
        background-color: #0b60a9; }
#our-works #works {
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  #our-works #works .work-item {
    padding: 10px; }
    #our-works #works .work-item .portfolio {
      position: relative;
      height: 100%;
      background-color: black;
      overflow: hidden; }
      #our-works #works .work-item .portfolio img {
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
      #our-works #works .work-item .portfolio .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        opacity: 0; }
        #our-works #works .work-item .portfolio .content .open {
          top: 25%; }
          #our-works #works .work-item .portfolio .content .open i {
            color: black;
            background-color: white;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            line-height: 40px;
            text-align: center;
            font-size: 16px; }
        #our-works #works .work-item .portfolio .content a {
          position: absolute;
          top: 40%; }
          #our-works #works .work-item .portfolio .content a h5 {
            margin: 16px 0;
            font-size: 22.4px;
            font-weight: bold;
            color: white; }
          #our-works #works .work-item .portfolio .content a:hover {
            text-decoration: none; }
            #our-works #works .work-item .portfolio .content a:hover h5 {
              color: #0b60a9; }
        #our-works #works .work-item .portfolio .content p {
          bottom: 20%;
          position: absolute;
          font-size: 16px;
          line-height: 28px;
          text-align: center;
          color: white; }
        @media (max-width: 991px) {
          #our-works #works .work-item .portfolio .content .open {
            top: 10%; }
          #our-works #works .work-item .portfolio .content a {
            top: 30%; }
          #our-works #works .work-item .portfolio .content p {
            bottom: 0; } }
      #our-works #works .work-item .portfolio:hover img {
        opacity: 0.6; }
      #our-works #works .work-item .portfolio:hover .content {
        opacity: 1; }

#client-logos {
  padding: 40px 0; }
  #client-logos .client-logo a img {
    width: 100%; }
  #client-logos .client-logo a:hover img {
    opacity: 0.8; }

@media screen and (min-width: 992px) {
  #plans .col-lg-4 {
    padding-left: 0;
    padding-right: 0; } }
#plans .col-lg-4 .plan-item {
  max-width: 400px;
  margin: 30px auto 0;
  -webkit-box-shadow: 0 0 3px #dddddd;
          box-shadow: 0 0 3px #dddddd;
  text-align: center;
  background-color: white; }
  #plans .col-lg-4 .plan-item h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    text-transform: uppercase;
    background-color: #f5f5f5; }
  #plans .col-lg-4 .plan-item span:nth-child(2) {
    position: relative;
    font-size: 64px;
    font-weight: bold; }
    #plans .col-lg-4 .plan-item span:nth-child(2)::before {
      content: "$";
      position: absolute;
      top: 0;
      left: -15px;
      font-size: 21px; }
  #plans .col-lg-4 .plan-item ul {
    list-style: none;
    text-align: left; }
    #plans .col-lg-4 .plan-item ul li {
      padding: 10px; }
      #plans .col-lg-4 .plan-item ul li i {
        padding-right: 10px;
        color: #0b60a9; }
      #plans .col-lg-4 .plan-item ul li.disabled i {
        color: #ddd; }
  #plans .col-lg-4 .plan-item.premium {
    margin: 0 auto;
    padding-bottom: 30px;
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.07);
    position: relative;
    z-index: 11;
    overflow: hidden; }
    #plans .col-lg-4 .plan-item.premium h4 {
      position: absolute;
      width: 150px;
      top: 15px;
      right: -40px;
      font-size: 14px;
      font-weight: bold;
      line-height: 40px;
      text-align: center;
      letter-spacing: 1px;
      background-color: white;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.29);
              box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.29); }
    #plans .col-lg-4 .plan-item.premium h3 {
      margin-bottom: 35px;
      color: white;
      background-color: #0b60a9; }
    #plans .col-lg-4 .plan-item.premium ul {
      margin-top: 15px; }

#footer {
  padding-top: 80px;
  color: #ddd;
  background-color: #2e363a; }
  @media screen and (min-width: 576px) {
    #footer [class*="col"] {
      padding: 0; } }
  #footer h3 {
    padding-bottom: 20px;
    margin-bottom: 25px;
    position: relative;
    font-size: 22px;
    color: white; }
    #footer h3::after {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      height: 1px;
      bottom: -1px;
      background: #ffffff; }
  #footer a {
    color: #ddd; }
    #footer a:hover {
      color: white;
      text-decoration: none; }
  #footer ul {
    padding: 0;
    list-style: none; }
  #footer .about-us {
    padding-right: 40px; }
    #footer .about-us p {
      line-height: 28px; }
  #footer .popular-news {
    padding-right: 40px; }
    #footer .popular-news ul li {
      padding-bottom: 10px; }
      #footer .popular-news ul li a {
        display: block;
        font-weight: bold; }
      #footer .popular-news ul li span {
        font-size: 12px;
        font-style: italic;
        color: #bbc0d2; }
  #footer .category {
    padding-right: 40px; }
    #footer .category ul {
      padding-right: 20px; }
      #footer .category ul li {
        position: relative;
        padding-bottom: 15px;
        font-size: 14px; }
        #footer .category ul li a::before {
          content: "\f105";
          font-family: "Font Awesome 5 Free";
          padding-right: 10px;
          font-weight: 900;
          color: white; }
        #footer .category ul li span {
          position: absolute;
          right: 0; }
  #footer .galery a {
    display: block;
    margin: 0 0 10px 15px;
    background-color: black; }
    #footer .galery a img {
      width: 100%; }
      #footer .galery a img:hover {
        opacity: 0.5; }
  #footer .footer-links ul li {
    display: inline; }
    #footer .footer-links ul li a {
      padding-right: 15px; }
      #footer .footer-links ul li a:hover {
        color: #0b60a9; }
  #footer .social-links ul li:last-child {
    padding-right: 0; }
  #footer .social-links ul li a {
    color: #ddd;
    border-radius: 100%;
    border: 2px solid #ddd; }
    #footer .social-links ul li a::before {
      line-height: 36px; }
    #footer .social-links ul li a[href*="facebook.com"]:hover {
      border: 2px solid #3b5998; }
    #footer .social-links ul li a[href*="twitter.com"]:hover {
      border: 2px solid #00aced; }
    #footer .social-links ul li a[href*="linkedin.com"]:hover {
      border: 2px solid #007bb6; }
    #footer .social-links ul li a[href*="instagram.com"]:hover {
      border: 2px solid #517fa4; }
    #footer .social-links ul li a[href*="vimeo.com"]:hover {
      border: 2px solid #aad450; }
    #footer .social-links ul li a[href*="dribbble.com"]:hover {
      border: 2px solid #ea4c89; }
  #footer .copyright {
    padding: 15px 0;
    color: white;
    background-color: #25292f; }
    #footer .copyright p {
      margin: 0;
      font-size: 14px;
      font-weight: bold; }

#single img {
  width: 100%; }
#single strong {
  display: block;
  line-height: 25px;
  font-size: 18px; }
#single p {
  line-height: 25px;
  color: #888; }
#single ul {
  list-style: none; }
  #single ul li {
    padding-bottom: 10px;
    line-height: 20px;
    font-size: 16px;
    color: #888; }
  #single ul.pro-info li {
    font-style: italic;
    font-weight: bold; }
    #single ul.pro-info li::before {
      content: "\f00c";
      font-family: "Font Awesome 5 Free";
      padding-right: 20px;
      font-size: 14px;
      color: #0b60a9;
      font-weight: 900; }
#single .social-links ul {
  padding: 0; }
  #single .social-links ul li a {
    color: white;
    border-radius: 100%; }
    #single .social-links ul li a[href*="facebook.com"] {
      background-color: #3b5998; }
    #single .social-links ul li a[href*="youtube.com"] {
      background-color: #bb0000; }
    #single .social-links ul li a[href*="twitter.com"] {
      background-color: #00aced; }
    #single .social-links ul li a[href*="linkedin.com"] {
      background-color: #007bb6; }
    #single .social-links ul li a[href*="instagram.com"] {
      background-color: #517fa4; }
    #single .social-links ul li a[href*="vimeo.com"] {
      background-color: #aad450; }
    #single .social-links ul li a[href*="dribbble.com"] {
      background-color: #ea4c89; }

/*# sourceMappingURL=style.css.map */