// BODY
body {
  font-family: $main-font;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}

// SECTIONS
section {
  &.wp {
    padding: 90px 0;
  }
  &.wbg {
    background-color: $section-bg-color;
  }
  .section-heading {
    h3 {
      position: relative;
      padding-bottom: 30px;
      font-family: $second-font;
      font-size: $head-font-size;
      font-weight: 500;
      text-align: center;
      &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 2px;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $main-color;
      }
      &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $main-color;
      }
      &.without-ba {
        &::before,
        &::after {
          display: none;
        }
      }
      @media only screen and (max-width: 767px) {
        font-size: 26px;
      }
    }
    p {
      max-width: 700px;
      margin: 0 auto 40px;
      font-size: $main-font-size;
      text-align: center;
      color: $text-color;
    }
  }
}

// BUTTONS
%main-btn {
  display: block;
  width: 130px;
  height: 45px;
  padding: 10px 20px;
  font-size: $small-font-size;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    text-decoration: none;
  }
}
@media (max-width: 991px) {
  %main-btn {
    width: 100px;
    height: 35px;
    padding: 5px 10px;
  }
}
.white-btn {
  @extend %main-btn;
  background-color: $main-color;
  color: white;
  &:hover {
    background-color: white;
    color: black;
  }
}
.black-btn {
  @extend %main-btn;
  background-color: $main-color;
  color: white;
  &:hover {
    background-color: black;
    color: white;
  }
}
.colored-btn {
  @extend %main-btn;
  background-color: white;
  color: black;
  &:hover {
    background-color: $main-color;
    color: white;
  }
}

// SCROLL BUTTON
#btn-scrollup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 111;
  a {
    width: 40px;
    height: 40px;
    padding: 10px;
    i {
      font-size: $big-font-size;
      color: $third-color;
    }
  }
}

// POPUP
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.5s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.5s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
// POPUP CHANGE IMAGE
@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
img.mfp-img {
  animation: popup 1s;
}

// SIDR MENU
#mobile-header {
  background-color: #222;
  #sidr-button {
    display: block;
    padding: 10px;
    i {
      color: $third-color;
    }
    &.opened {
      padding-left: 270px;
    }
  }
}
#sidr {
  .nav-menu-item {
    position: relative;
    .drop-menu {
      display: none;
    }
    i {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      font-size: $main-font-size;
      text-align: center;
      background-color: #343434;
      box-shadow: 0 0 37px #464444 inset;
      cursor: pointer;
      &::before {
        line-height: 50px;
      }
    }
  }
}
