// FEATURES
#our-team {
  .team-item {
    margin: 20px 10px;
    box-shadow: 0px 0px 32px 0px rgba(122, 122, 122, 0.1);
    transition: all 0.3s;
    .image {
      width: 100%;
      overflow: hidden;
      img {
        width: 100%;
        transition: all 1s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .content {
      a {
        color: $second-color;
        h5 {
          font-size: $main-font-size * 1.25;
          font-weight: bold;
          margin: 16px 0 0;
        }
        &:hover {
          color: $main-color;
          text-decoration: none;
        }
      }
      p {
        font-size: $main-font-size;
        font-style: italic;
        line-height: 28px;
        color: $main-color;
        margin: 0;
      }
    }
    .social-links ul {
      padding: 8px 0 16px;
      list-style: none;
      li {
        padding: 0 6px;
        a {
          display: block;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          text-align: center;
          transition: all 0.5s;
          &::before {
            font-family: "Font Awesome 5 Brands";
            color: $text-color;
            font-weight: 400;
            line-height: 40px;
            font-size: 15px;
          }
          &[href*="facebook.com"]::before {
            content: "\f39e";
          }
          &[href*="twitter.com"]::before {
            content: "\f099";
          }
          &[href*="linkedin.com"]::before {
            content: "\f0e1";
          }
          &[href*="instagram.com"]::before {
            content: "\f16d";
          }
          &:hover {
            text-decoration: none;
            &::before {
              color: $third-color;
            }
          }
          &[href*="facebook.com"]:hover {
            background-color: #3b5998;
          }
          &[href*="twitter.com"]:hover {
            background-color: #00aced;
          }
          &[href*="linkedin.com"]:hover {
            background-color: #007bb6;
          }
          &[href*="instagram.com"]:hover {
            background-color: #517fa4;
          }
        }
      }
    }
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
    }
  }
}
