// TOUCH
#touch {
  .section-heading {
    p:first-child {
      margin-bottom: 20px;
      font-style: italic;
      font-weight: bold;
      font-size: $small-font-size;
      letter-spacing: 2px;
    }
  }
}

// CLIENT LOGOS
#client-logos {
  padding: 40px 0;
  .client-logo {
    a {
      img {
        width: 100%;
      }
      &:hover {
        img {
          opacity: 0.8;
        }
      }
    }
  }
}
