// FONTS
$main-font: 'Roboto', sans-serif;
$second-font: 'Poppins', sans-serif;

// SIZES
$main-font-size: 16px;
$small-font-size: 14px;
$slide-font-size: 19px;

// COLORS
$main-color: #0b60a9;
$second-color: black;
$third-color: white;
$text-color: #888;
