// FONTS
$main-font: 'Roboto', sans-serif;
$second-font: 'Poppins', sans-serif;

// SIZES
$head-font-size: 33px;
$slide-font-size: 19px;
$big-font-size: 18px;
$main-font-size: 16px;
$small-font-size: 14px;

// COLORS
$main-color: #0b60a9;
$second-color: black;
$third-color: white;
$text-color: #888;
